*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

nav{
    background: #e74c3c;
    display: flex;
    justify-content: space-between;
}

nav #logo{
    font-size: 2.5em;
    padding: 10px 50px;
    font-weight: 700;
    color: white;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px 80px;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    padding: 10px 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav #burger{
    display: none;
    margin: 15px 10px;
}

nav #burger div{
    border: 1px solid white;
    background-color: white;
    width: 40px;
    height: 5px;
    margin: 5px;
    transition: 0.5s;
}

nav .active{
    position: absolute;
    right: 230px;
}

nav .active div:nth-child(2){
    display: none;
}

nav .active div:first-child{
    transform: translateY(10px) rotateZ(45deg);
}

nav .active div:last-child{
    transform: rotateZ(135deg);
}


@media (max-width: 980px){

    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0px;
        width: 300px;
        top: 0px;
        min-height: 100vh;
        background-color: #e67e22;
        justify-content: start;
        padding-top: 60px;
        transition: 0.5s;
    }

    nav #burger{
        display: block;
    }
}